* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
}

.eyeball {
  width: 100%;
  text-align: center;
}

.eye {
  width: 240px;
  height: 240px;
  background: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 77px;
  height: 77px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #246ce7;
}

nav,
footer {
  padding: 1% 0;
  background-color: #1b2942;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 900;
  color: whitesmoke;
  width: 100%;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  display: flex;
  padding: 15px;
  flex-direction: column;
  background-color: ;
}

.title {
  font-size: 18px;
}

header {
  padding: 8% 0;
  width: 100%;
  background-color: #1b2942;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Montserrat";
}

h3 {
  font-family: "Montserrat";
  text-align: center;
}

h2 {
  font-family: "Montserrat";
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #345080;
  height: 600px;
  line-height: 1.5;
  text-align: left;
  font-size: 24px;
}

.projects {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  font-family: "Hind";
}

a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

img {
  width: auto;
  max-height: 400px;
}

section:nth-child(even) {
  background-color: #1c52b0;
}

h2 {
  font-size: 20px;
}
section {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
img {
  width: auto;
  max-height: 200px;
}
p {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

@media screen and (min-width: 700px) {
  header {
    height: 950px;
  }
  section {
    height: 1050px;
    font-size: 32px;
  }
  img {
    width: auto;
    max-height: 300px;
  }
  p {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    padding-top: 300px;
    font-size: 80px;
  }
  header {
    height: 1500px;
  }

  h2 {
    font-size: 48px;
  }

  .title {
    font-size: 60px;
  }
  nav {
    font-size: 80px;
    position: fixed;
    padding-left: 150px;
    padding-right: 150px;
  }
  p {
    padding-left: 200px;
    padding-right: 200px;
  }
  section {
    height: 1500px;
    font-size: 38px;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    font-size: 30px;
  }

  .title {
    font-size: 28px;
  }

  h1 {
    padding: 0px;
  }

  header {
    height: 1000px;
  }

  section {
    font-size: 24px;
    height: 750px;
  }
}
