* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.eyeball {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.eye {
  width: 240px;
  height: 240px;
  background: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 77px;
  height: 77px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #333;
}

nav,
footer {
  padding: 1% 0;
  background-color: #1b2942;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 900;
  color: whitesmoke;
  width: 100%;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

header {
  padding: 8% 0;
  height: 550px;
  width: 100%;
  background-color: #1b2942;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Montserrat";
}

h3 {
  font-family: "Montserrat";
  text-align: center;
}

h2 {
  font-family: "Montserrat";
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #345080;
  height: 550px;
  line-height: 1.5;
  text-align: left;
  font-size: 24px;
}

.projects {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  font-family: "Hind";
}

a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

img {
  width: auto;
  max-height: 400px;
}

section:nth-child(even) {
  background-color: #5e90e6;
}

@media (min-width: 320px) {
  header,
  section {
    height: 950px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eyeball {
    padding-top: 80px;
  }

  h2 {
    font-size: 20px;
  }
  section {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  img {
    width: auto;
    max-height: 200px;
  }
  p {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
}

@media (min-width: 700px) {
  section {
    font-size: 24px;
  }
  img {
    width: auto;
    max-height: 300px;
  }
  p {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }
}

@media (min-width: 1080px) {
  section,
  header {
    height: 730px;
  }
  nav {
    position: fixed;
    padding-left: 150px;
    padding-right: 150px;
  }
  p {
    padding-left: 200px;
    padding-right: 200px;
  }
  section {
    padding-left: 100px;
    padding-right: 100px;
  }
}
